<h4><%=community[0].boardName%> 관리</h4>
<div style="background-color: #ededfa; padding: 30;">
    <form name="searchForm" action="" method="get" class="easydropdown">
        <input type="hidden" id="page" name="page" value="<%=page%>">
        <input type="hidden" name="boardDivId" id="boardDivId" value="<%=boardDivId%>">
        <input type="hidden" name="boardName" id="boardName" value="<%=community[0].boardName%>">
        <input class="searchbox" type="text" name="searchText" id="searchText"
            <%if(searchText!=null){%>value="<%=searchText%>" <%}%> placeholder="작성자, 제목, 내용">
    </form>
<!-- Basic Bootstrap Table -->
<div class="card">

    <form id="boardForm" name="boardForm" action="" method="">
        <input type="hidden" id="page" name="page" value="<%=page%>">
        <input type="hidden" name="boardDivId" id="boardDivId" value="<%=boardDivId%>">
        <input type="hidden" name="boardName" id="boardName" value="<%=community[0].boardName%>">
        <input type="hidden" id="boardId" name="boardId" value="" />
    <div class="table-responsive text-nowrap">
            <table class="table table-hove">
            <thead>
                <tr>
                    <!-- <th><input type="checkbox" name="chkAll" id="chkAll" /></th> -->
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>작성자</th>
                    <th>댓글</th>
                    <!-- <th>조회수</th> -->
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="tbody">
                <% if(results.length > 0) { %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                    if(i > length){
                        i++;
                    } else { %> <% if(results[i].boardFix == 1){ %> <tr class="pointer" style="background-color: rgb(190 243 194);"
                onclick="location.href='/admin/boardSelectOne?boardDivId=<%=results[i].boardDivId%>&page=<%=page%>&searchText=<%=searchText%>&boardId=<%=results[i].boardId%>&boardName=<%=community[0].boardName%>'">
                 <% }else{ %>
                        <tr class="pointer"
                onclick="location.href='/admin/boardSelectOne?boardDivId=<%=results[i].boardDivId%>&page=<%=page%>&searchText=<%=searchText%>&boardId=<%=results[i].boardId%>&boardName=<%=community[0].boardName%>'">
                <% } %>
            <!-- <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk" name="chk"
                    value="<%=results[i].boardId %>" />
            </td> -->
            <td>
                <%=results.length - i%>
            </td>
            <td>
                <%=results[i].boardTitle%>
            </td>
            <td>
                <%= results[i].boardDatefmt %>
            </td>
            <td>
                <%= results[i].adminNick %>
            </td>
            <td>
              <%= results[i].mcount %></td>
            <!-- <td>
                <%= results[i].hitCount %></td> -->
            </tr>
            <% } %>
            <% } %>
            <% } else { %>
            <tr>
                <td colspan="7">등록된 게시물이 없습니다.</td>
            </tr>
            <% } %>

        </td>
    </tbody>
</table>
</form>
</div>
</div>

    <div style="margin-top: 30px; margin-left: 20px;">
        <button id="enrollAction" class="btn btn-primary"
            onclick="location.href='/admin/boardInsert?boardDivId=<%=boardDivId %>&boardName=<%=community[0].boardName%>'">등록</button>
        <!-- <button class="btn btn-danger" type="button" id="delete_btn">삭제</button> -->
    </div>


    <div>
        <div class="mt_20">
            <div class="paging" id="page_navi">
                <% if(results.length > 0) { %>
                <ul class="pagination customPaging">
                    <li>
                        <a href="/admin/boardMain?boardDivId=<%=boardDivId %>&page=1&searchText=<%=searchText%>"
                            class="num">
                            << </a> </li> <li>
                                <a <%if((page==1)){%><%} else {%>
                                    href="/admin/boardMain?boardDivId=<%=boardDivId %>&page=<%= parseInt(page) - 1 %>&searchText=<%=searchText%>"
                                    class="num" <% } %>>
                                    < </a> </li> <% for(var i = startPage; i < endPage; i++){  %> <li class="paging_on">
                                        <a href="/admin/boardMain?boardDivId=<%=boardDivId %>&page=<%= i + 1 %>&searchText=<%=searchText%>"
                                            <%if(page==i+1){%>class="selected" <%}%> class="num"><%= i + 1 %></a> </li>
                                            <% } %> <li> <a <%if(page>last-1){%><%} else {%>
                                                href="/admin/boardMain?boardDivId=<%=boardDivId %>&page=<%= parseInt(page) + 1 %>&searchText=<%=searchText%>"
                                                class="num" <% } %>>></a></li>
                    <li><a href="/admin/boardMain?boardDivId=<%=boardDivId %>&page=<%= last%>&searchText=<%=searchText%>"
                            class="num">>></a></li>
                </ul>
                <%}%>
            </div>
        </div>
    </div>
</div>
</div>
<!--/ Basic Bootstrap Table -->

<script>
    $(document).ready(function () {
        searchajax();
        const formObj = $("form[name='boardForm']");
        // 삭제

        $("#delete_btn").on("click", function () {
            var chkArr = [];
            $("input[name=chk]:checked").each(function () {
                chkArr.push($(this).val());
            });
            $('#boardId').val(chkArr);
            if (chkArr == "") {
                alert("삭제할 목록을 선택해주세요.");
                return false;
            }
            formObj.attr("action", "/admin/boardDelete/brdsDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                formObj.submit();
            } else {
                return false;
            }
        })
        //쿼리스트링 페이지
        function getUrlParams() {
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                params[key] = value;
            });
            return params;
        }
        var param = getUrlParams();
        var page = document.getElementById("page");
        page.value = param.page;
        const searchForm = $("form[name='searchForm']");

    });

    // 선택
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });

    //검색
    function searchajax() {
        $("#searchText").keyup(function () {
            var words = $("#searchText").val();
            $.ajax({
                type: 'get',
                url: '/admin/boardSearch?boardDivId=<%=community[0].boardDivId%>&page=1',
                data: {
                    searchText: words
                },
                dataType: 'json',
                success: function (data) {
                    // console.log(data)
                    var str = ''
                    $(".customPaging").empty();
                    if (data.ajaxSearch.length > 0) {
                        for (var i = (data.page * data.page_num) - data
                                .page_num; i < (data.page * data.page_num); i++) {
                            if (i > data.length) {
                                i++;
                            } else {
                                $("#tbody").empty();
                                if(data.ajaxSearch[i].boardFix == 1) {  
                                    str += '<tr class="pointer" style="background-color: rgb(190 243 194);" onclick="location.href=\'/admin/boardSelectOne?boardDivId=' + data.ajaxSearch[i].boardDivId + '&page=' + data.page + '&searchText=' + data.searchText + '&boardId=' + data.ajaxSearch[i].boardId + '&boardName=' + data.ajaxSearch[i].boardName + '\'">';
                                }else{ 
                                    str += '<tr class="pointer" onclick="location.href=\'/admin/boardSelectOne?boardDivId=' + data.ajaxSearch[i].boardDivId + '&page=' + data.page + '&searchText=' + data.searchText + '&boardId=' + data.ajaxSearch[i].boardId + '&boardName=' + data.ajaxSearch[i].boardName + '\'">';
                                }
                                // str +=
                                //     '<tr onclick="location.href=\'/admin/boardSelectOne?boardId=' +
                                //     data.ajaxSearch[i].boardId + '&page=' + data
                                //     .page + '&searchText=' + data.searchText + '&boardDivId=' + 
                                //     data.ajaxSearch[i].boardDivId +'">';

                                // str +=
                                //     '<td onclick="event.cancelBubble=true;"><input type="checkbox" id="chk" name="chk" value="' +
                                //     data.ajaxSearch[i].boardId + '" /> </td>';
                                str +=
                                    '<td>' +
                                    (data.ajaxSearch.length - i) + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardTitle + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardDatefmt + '</td>';
                                str +=
                                '<td>' +
                                data.ajaxSearch[i].adminNick + '</td>';
                                str +=
                                '<td>' +
                                data.ajaxSearch[i].mcount + '</td>';
                                // str += 
                                // '<td>' +
                                // data.ajaxSearch[i].hitCount + '</td>';
                                str +=
                                '</tr>';
                            }
                        }
                        $("#tbody").append(str);
                    } else {
                        var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
                        $("#tbody").empty();
                        $("#tbody").append(none);
                    }
                    paging(data);
                },
                error: function (e) {
                    console.log('error:' + e.status);
                }
            });
        });
    }

    function paging(data) {
        var datas = data;
        var dataLength = datas.length;
        var dataPageNum = datas.page_num;
        var boardDivId = datas.ajaxSearch[0].boardDivId;
        var datasPage = Number(datas.page);
        var datasLast = Number(datas.last);
        var startPage = Number(datas.startPage);
        var endPage = Number(datas.endPage);
        var temp = '';
        temp = `<li>
                <a href="/admin/boardMain?boardDivId=${boardDivId}&page=1&searchText=${datas.searchText}"
                class="num">
                << </a> </li> <li>
                <a `
        if (datasPage == 1) {
            temp += `><</a></li>`
        } else {
            temp += `href="/admin/boardMain?boardDivId=${boardDivId}&page=${datasPage - 1}&searchText=${datas.searchText}"
                class="num">
                < </a> </li>`
        }
        for (var i = datas.startPage; i < datas.endPage; i++) {
            temp += `<li class="paging_on">
                    <a href="/admin/boardMain?boardDivId=${boardDivId}&page=${i + 1}&searchText=${datas.searchText}"`
            if (i != 0) {
                temp += `class="num">${i + 1}</a> </li>`
            } else {
                temp +=
                    `class="selected" style="background-color:#696CFF;><span style="color:white;">${i + 1}</span></a> </li>`
            }
        }
        temp += `<li> <a `
        if (datasPage == datasLast) {
            temp += `> > </a></li>`
            temp += `<li><a href='/admin/boardMain?boardDivId=${boardDivId}&page=${datasPage}&searchText=${datas.searchText}'`
            temp += ` class="num">>></a></li>`
        } else {
            temp += `href="/admin/boardMain?boardDivId=${boardDivId}&page=${datasPage + 1}&searchText=${datas.searchText}"
                    class="num">></a></li>
                    <li><a href="/admin/boardMain?boardDivId=${boardDivId}}&page=${datasLast}&searchText=${datas.searchText}"
                    class="num">>></a></li>`
        }

        $(".customPaging").html(temp);
    }

    //댓글 확인
    function comment(theURL, winName, features, boardId) {
        theURL += '?boardId=' + boardId;
        window.open(theURL, winName, features);
    }
</script>