<style>
   *,
   pre {
      font-size: large;
      font-weight: bolder;
      color: black
   }

   .form-label,
   .col-form-label {
      font-size: large;
      font-weight: bolder;
      color: black
   }

   .form-control {
      font-size: large;
      font-weight: bolder;
      color: black
   }

   #cmtContent {
      font-weight: 400;
   }

   #divider-text {
      font-size: 1.8rem;
      font-weight: bold;
      color: black;
      padding: 2.5rem 2.5rem;
      padding-right: 15px;
      padding-bottom: 0px;
   }

   #divider-text1 {
      font-size: 1.8rem;
      font-weight: bold;
      color: black;
      padding: 2.5rem 2.5rem;
      padding-right: 15px;
      padding-left: 25px;
   }

   .textarea {
      background-color: #eceef1;
      border: 1px solid #d9dee3;
      padding: 0.4375rem 0.875rem;
      appearance: none;
      border-radius: 0.375rem;
      /* height:45px; */
      overflow: auto;
      margin: 0px;
      /* white-space: pre-wrap; */
      /* background-color: #E6E6FA; */
      padding: 10px;
      overflow: auto;
      white-space: pre-wrap;
   }

   .none {
      background-color: #eceef1;
      border: 1px solid #d9dee3;
      padding: 0.4375rem 0.875rem;
      appearance: none;
      border-radius: 0.375rem;
      height: 45px;
      margin: 0px;
      /* overflow: auto; */
      /* white-space: pre-wrap; */
   }

   .plus {
      display: flex;
      align-items: flex-end;
   }

   .card-body {
      display: grid;
   }

   .btn-outline-primary {
      margin: 25px 0 20px 0;
      border-color: #b5b8bd;
      color: #78797a;
   }
</style>
<div class="col-xs-6">
   <!-- <div class="mb-3 row">
      <div class="card-body">
         <div class="divider">
            <div class="divider-text" id="divider-text"> 리소프트 프로젝트 : <%=result[0].projectName%> </div>
         </div>
      </div>
   </div> -->
   <!-- HTML5 Inputs -->
   <div class="card mb-4">
      <h5 class="card-header" id="divider-text1">프로젝트 환경</h5>
      <div class="card-body">
         <form name="udtForm" method="post" role="form">
            <input type="hidden" id="projectId" name="projectId" value="<%=result[0].projectId%>" />
            <!-- 컨텐츠 -->
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">프로젝트명</label>
               <div class="col-md-9">
                  <input class="form-control" id="projectName" type="text" name="projectName" disabled="disabled"
                     value="<%=result[0].projectName%>">
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">발주처</label>
               <div class="col-md-9">
                  <input class="form-control" id="projectClient" type="text" name="projectClient" disabled="disabled"
                     value="<%=result[0].projectClient%>">
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">담당자</label>
               <div class="col-md-9">
                  <input class="form-control" id="projectManager" type="text" name="projectManager" disabled="disabled"
                     value="<%=result[0].projectManager%>">
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">IP</label>
               <div class="col-md-9">
                  <input class="form-control" id="projectIp" type="text" name="projectIp" disabled="disabled"
                     value="<%=result[0].projectIp%>">
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">도메인</label>
               <div class="col-md-9">
                  <input class="form-control" id="projectDomain" type="text" name="projectDomain" disabled="disabled"
                     value="<%=result[0].projectDomain%>">
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">개발환경</label>
               <div class="col-md-9">
                  <pre <%if(result[0].projectTools==null||result[0].projectTools==''){%>class="none"
                     <%}else{%>class="textarea" <%}%>><%-result[0].projectTools%></pre> </div> </div> <div
                     class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">웹서버</label>
               <div class="col-md-9">
                     <pre <%if(result[0].projectWeb==null||result[0].projectWeb==''){%>class="none"<%}else{%>class="textarea"<%}%>><%-result[0].projectWeb%></pre>
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">DB정보</label>
               <div class="col-md-9">
                  <pre <%if(result[0].projectDB==null||result[0].projectDB==''){%>class="none"
                     <%}else{%>class="textarea" <%}%>><%-result[0].projectDB%></pre> </div> </div> <div
                     class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">기타사항</label>
               <div class="col-md-9">
                  <pre <%if(result[0].projectContent==null||result[0].projectContent==''){%>class="none"<%}else{%>class="textarea"<%}%>><%-result[0].projectContent%></pre>
               </div>
            </div>
            <div class="mb-3 row">
               <label class="col-md-2 col-form-label" for="text-input">첨부파일</label>
               <div class="col-md-9">
                  <div class="card accordion-item">
                     <h2 class="accordion-header" id="headingThree">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                           data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                           파일 ( <% if(result[0].fileRoute == null) { %> 0 개<% } else { %> <%=result.length%> 개 <% } %> )
                        </button>
                     </h2>
                     <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           <% if(result[0].fileRoute != null) { %>
                           <div class="file-wrap">
                              <% for(var i = 0; i < result.length; i++) {%>
                              <div id="" style="padding: 10px;">
                                 <span><%=result[i].fileOrgName%></span>
                                 <a href="../../../<%= result[i].fileRoute %>"
                                    class="btn btn-block btn-outline-success textFileButton" type="button" download
                                    style="margin-left:20px">파일 다운로드</a>
                              </div>
                              <input type="hidden" id="fileRoute" name="fileRoute" value="<%= result[i].fileRoute %>" />
                              <% } %>
                           </div>
                           <% }%>
                           <% if(result[0].fileRoute == null) { %>
                           <div id="fileDiv" style="padding: 10px;">
                              파일이 없습니다.
                           </div>
                           <br>
                           <% } %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>

         <!--option 버튼  -->
         <div class="demo-inline-spacing" style="float: right;">
            <button type="button" class="btn btn-primary" id="update_btn" onclick="prjUpdate('/admin/projectUpdate', '', 'resizable=no,width=780, height=800, scrollbars=1',
            '<%= result[0].projectId %>')">수정</button>
            <button type="button" class="btn btn-danger" id="delete_btn" onclick="projectDelete()">삭제</button>
            <button type="button" class="btn btn-dark" onclick="location.href='/admin/project'">목록</button>
         </div>
      </div>
   </div>
   <div class="card mb-4">
      <div class="plus">
         <h5 class="card-header" id="divider-text">클라이언트 정보</h5>
         <a href="javascript:void(0);"
            onclick="clientInsert('/admin/projectInsert/client', '', 'resizable=no,width=1199, height=250, scrollbars=1', '<%= result[0].projectId %>')">
            <i class='bx bxs-plus-circle bx-rotate-180' style='color:#696cff; font-size: 30px;'></i></a>
      </div>
      <div class="card-body">
         <form class="moreForm" name="clientForm" role="form">
            <input type="hidden" id="projectId" name="projectId" value="<%=result[0].projectId%>" />
            <input type="hidden" name="clientId" value="" />
            <div class="table-responsive text-nowrap">
               <table id="clientTable" class="table table-hove" style="height: 200px">
                  <thead>
                     <tr>
                        <th>상호</th>
                        <th>소속</th>
                        <th>담당자명</th>
                        <th>직책</th>
                        <th>연락처</th>
                        <th>비고</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0" id="tbody">

                  </tbody>
               </table>
            </div>
         </form>
         <button id="clientMore" class="btn btn-outline-primary" onclick="clientMore()">더보기</button>
         <!-- <input type="hidden" name="lastPage" id="lastPage" value="" />
         <input type="hidden" name="projectId" id="projectId" value="" /> -->
      </div>
   </div>
   <div class="card mb-4">
      <div class="plus">
         <h5 class="card-header" id="divider-text">히스토리</h5>
         <a href="javascript:void(0);"
            onclick="historyInsert('/admin/projectInsert/history', '', 'resizable=no,width=780, height=800, scrollbars=1', '<%= result[0].projectId %>')">
            <i class='bx bxs-plus-circle bx-rotate-180' style='color:#696cff; font-size: 30px;'></i></a>
      </div>
      <div class="card-body">
         <form name="historyForm" role="form">
            <input type="hidden" id="projectId" name="projectId" value="<%=result[0].projectId%>" />
            <input type="hidden" name="historyId" value="" />
            <div class="table-responsive text-nowrap">
               <table id="historyTable" class="table table-hove" style="height: 200px">
                  <thead>
                     <tr>
                        <th>진행상태</th>
                        <th>요청일시</th>
                        <th>작업요청자</th>
                        <th>요청제목</th>
                        <th>작업자</th>
                        <th>비고</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0" id="tbody1">

                  </tbody>
               </table>
            </div>
         </form>
         <button id="historyMore" class="btn btn-outline-primary" onclick="historyMore()">더보기</button>
      </div>
   </div>
   <div class="card mb-4">
      <div class="plus">
         <h5 class="card-header" id="divider-text">관련 자료 및 참고사항</h5>
         <a href="javascript:void(0);"
            onclick="boardInsert('/admin/boardInsert', '', 'resizable=no,width=780, height=800, scrollbars=1', '<%= result[0].projectId %>')">
            <i class='bx bxs-plus-circle bx-rotate-180' style='color:#696cff; font-size: 30px;'></i></a>
      </div>
      <div class="card-body">
         <form name="boardForm" role="form">
            <input type="hidden" id="projectId" name="projectId" value="<%=result[0].projectId%>" />
            <input type="hidden" name="boardId" value="" />
            <div class="table-responsive text-nowrap">
               <table id="boardTable" class="table table-hove" style="height: 200px">
                  <thead>
                     <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>작성자</th>
                        <th>비고</th>
                     </tr>
                  </thead>
                  <tbody class="table-border-bottom-0" id="tbody2">

                  </tbody>
               </table>
            </div>
         </form>
         <button id="boardMore" class="btn btn-outline-primary" onclick="boardMore()">더보기</button>
      </div>
   </div>
</div>

<script type="text/javascript">
   var words = $("#projectId").val();
   var clientLastPage;
   var historyLastPage;
   var boardLastPage;
   $(document).ready(function () {
      clientMore();
      historyMore();
      boardMore();
   })

   //프로젝트삭제
   var projectFormformObj = $("form[name='udtForm']");

   function projectDelete(projectId) {
      if (confirm("삭제하시겠습니까?") == true) {
         $('input[name=projectId]').attr('value', projectId);
         // projectFormformObj.attr("method", "get");
         projectFormformObj.attr("action", "/admin/projectDelete/project");
         alert("삭제되었습니다.")
         projectFormformObj.submit();
      } else {
         return;
      }
   }

   //클라이언트 삭제
   var clientFormformObj = $("form[name='clientForm']");

   function clientDelete(clientId) {
      if (confirm("삭제하시겠습니까?") == true) {
         $('input[name=clientId]').attr('value', clientId);
         clientFormformObj.attr("method", "get");
         clientFormformObj.attr("action", "/admin/projectDelete/client");
         clientFormformObj.submit();
      } else {
         return;
      }
   }

   //히스토리 삭제
   var historyFormformObj = $("form[name='historyForm']");

   function historyDelete(historyId) {
      if (confirm("삭제하시겠습니까?") == true) {
         $('input[name=historyId]').attr('value', historyId);
         historyFormformObj.attr("method", "get");
         historyFormformObj.attr("action", "/admin/projectDelete/history");
         historyFormformObj.submit();
      } else {
         return;
      }
   }

   //관련자료 삭제
   var boardFormformObj = $("form[name='boardForm']");

   function boardDelete(boardId) {
      if (confirm("삭제하시겠습니까?") == true) {
         $('input[name=boardId]').attr('value', boardId);
         boardFormformObj.attr("method", "get");
         boardFormformObj.attr("action", "/admin/projectDelete/board");
         boardFormformObj.submit();
      } else {
         return;
      }
   }

   //프로젝트 수정 팝업
   function prjUpdate(theURL, winName, features, projectId) {
      // console.log(theURL);
      // console.log(certiContentId)
      theURL += '?projectId=' + projectId;
      window.open(theURL, winName, features);
   }

   //클라이언트 등록 팝업
   function clientInsert(theURL, winName, features, projectId) {
      theURL += '?projectId=' + projectId;
      window.open(theURL, winName, features);
   }
   //클라이언트 수정 팝업
   function clientUpdate(theURL, winName, features, clientId) {
      theURL += '?clientId=' + clientId;
      window.open(theURL, winName, features);
   }

   //히스토리 상세보기 팝업
   function historyView(theURL, winName, features, history) {
      theURL += '?historyId=' + history;
      window.open(theURL, winName, features);
   }
   //히스토리 등록 팝업
   function historyInsert(theURL, winName, features, projectId) {
      theURL += '?projectId=' + projectId;
      window.open(theURL, winName, features);
   }
   //히스토리 수정 팝업
   function historyUpdate(theURL, winName, features, history) {
      theURL += '?historyId=' + history;
      window.open(theURL, winName, features);
   }

   //관련자료 상세보기 팝업
   function boardView(theURL, winName, features, board, projectId) {
      theURL += '?boardId=' + board + '&projectId=' + projectId;
      window.open(theURL, winName, features);
   }
   //관련자료 등록 팝업
   function boardInsert(theURL, winName, features, projectId) {
      theURL += '?projectId=' + projectId;
      window.open(theURL, winName, features);
   }
   //관련자료 수정 팝업
   function boardUpdate(theURL, winName, features, board) {
      theURL += '?boardId=' + board;
      window.open(theURL, winName, features);
   }

   //클라이언트
   function clientMore() {
      // $('input[name=lastPage]').attr('value', lastPage);
      // $('input[name=projectId]').attr('value', words);
      $.ajax({
         type: 'get',
         url: '/admin/projectOne/client',
         data: {
            projectId: words,
            lastPage: clientLastPage
         },
         dataType: 'json',
         success: function (data) {
            // console.log(data.ajaxSearch.length == 0)
            if (data.ajaxSearch.length >= 0 && data.ajaxSearch.length <= 2) {
               var clientMore = document.getElementById('clientMore');
               clientMore.disabled = true;
            }
            clientLastPage = data.ajaxSearch[data.ajaxSearch.length - 1].clientId;
            var str = ''
            // console.log(data)
            if (data.ajaxSearch.length > 0) {
               for (var i = 0; i < data.ajaxSearch.length; i++) {
                  // $("#tbody").empty();
                  str +=
                     '<tr>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].clientComName + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].clientBelong + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].clientName + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].clientPosition + '</td>';
                  str +=
                     '<td>' +
                     data.clientPhone[i] + '</td>';
                  str +=
                     '<td><div class="dropdown"><button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>';
                  str +=
                     '<div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0);" onclick="clientUpdate(\'/admin/projectUpdate/client\', \'\', \'resizable=no,width=1199, height=250, scrollbars=1\',\'' +
                     data.ajaxSearch[i].clientId + '\')"><i class="bx bx-edit-alt me-1"></i> 수정</a>';
                  str +=
                     '<a class="dropdown-item" href="javascript:void(0);" onclick="clientDelete(' + data
                     .ajaxSearch[i].clientId +
                     ')"><i class="bx bx-trash me-1"></i> 삭제</a></div></div></td>';
                  str += '</tr>'
               }
               // console.log("str = " + str)
               // $("#tbody").append(str);
               $('#clientTable > tbody:last').append(str)
            } else {
               var none = '<tr> <td colspan="6"> 데이터가 존재하지 않습니다. </td> </tr>'
               $("#tbody").empty();
               $("#tbody").append(none);
            }
         },
         error: function (e) {
            console.log('error:' + e.status);
         }
      });
   }

   //히스토리
   function historyMore() {
      $.ajax({
         type: 'get',
         url: '/admin/projectOne/history',
         data: {
            projectId: words,
            lastPage: historyLastPage
         },
         dataType: 'json',
         success: function (data) {
            if (data.ajaxSearch.length >= 0 && data.ajaxSearch.length <= 2) {
               var historyMore = document.getElementById('historyMore');
               historyMore.disabled = true;
            }
            historyLastPage = data.ajaxSearch[data.ajaxSearch.length - 1].historyId;
            var str = ''
            // console.log(data)
            if (data.ajaxSearch.length > 0) {
               for (var i = 0; i < data.ajaxSearch.length; i++) {
                  // $("#tbody1").empty();
                  str +=
                     '<tr class="pointer" onclick="historyView(\'/admin/projectOne/historyOne\', \'\', \'resizable=no,width=780, height=800, scrollbars=1\', \'' +
                     data
                     .ajaxSearch[i].historyId +
                     '\')">';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].historyStatus + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].historyReqDateFmt + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].historyRequester + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].historyTitle + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].historyManager + '</td>';
                  str +=
                     '<td onclick="event.cancelBubble=true;"><div class="dropdown"><button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>';
                  str +=
                     '<div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0);" onclick="historyUpdate(\'/admin/projectUpdate/history\', \'\', \'resizable=no,width=780, height=800, scrollbars=1\',\'' +
                     data.ajaxSearch[i].historyId + '\')"><i class="bx bx-edit-alt me-1"></i> 수정</a>';
                  str +=
                     '<a class="dropdown-item" href="javascript:void(0);" onclick="historyDelete(' + data
                     .ajaxSearch[i].historyId +
                     ')"><i class="bx bx-trash me-1"></i> 삭제</a></div></div></td>';
                  str += '</tr>'
               }
               // console.log("str = " + str)
               // $("#tbody1").append(str);
               $('#historyTable > tbody:last').append(str)
            } else {
               var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
               $("#tbody1").empty();
               $("#tbody1").append(none);
            }
         },
         error: function (e) {
            console.log('error:' + e.status);
         }
      });
   }

   //관련 자료 및 참고사항
   function boardMore() {
      $.ajax({
         type: 'get',
         url: '/admin/projectOne/board',
         data: {
            projectId: words,
            lastPage: boardLastPage
         },
         dataType: 'json',
         success: function (data) {
            if (data.ajaxSearch.length >= 0 && data.ajaxSearch.length <= 2) {
               var boardMore = document.getElementById('boardMore');
               boardMore.disabled = true;
            }
            boardLastPage = data.ajaxSearch[data.ajaxSearch.length - 1].boardId;
            var str = ''
            // console.log(data)
            if (data.ajaxSearch.length > 0) {
               for (var i = 0; i < data.ajaxSearch.length; i++) {
                  // $("#tbody2").empty();
                  str +=
                     '<tr class="pointer" onclick="boardView(\'/admin/boardSelectOne\', \'\', \'resizable=no,width=780, height=800, scrollbars=1\', \'' +
                     data
                     .ajaxSearch[i].boardId +
                     '\', \'' +
                     data
                     .ajaxSearch[i].projectId +
                     '\')">';
                  str +=
                     '<td>' +
                     (i + 1) + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].boardTitle + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].boardDateFmt + '</td>';
                  str +=
                     '<td>' +
                     data.ajaxSearch[i].adminNick + '</td>';
                  str +=
                     '<td onclick="event.cancelBubble=true;"><div class="dropdown"><button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>';
                  str +=
                     '<div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0);" onclick="boardUpdate(\'/admin/boardUpdate\', \'\', \'resizable=no,width=780, height=800, scrollbars=1\',\'' +
                     data.ajaxSearch[i].boardId + '\')"><i class="bx bx-edit-alt me-1"></i> 수정</a>';
                  str +=
                     '<a class="dropdown-item" href="javascript:void(0);" onclick="boardDelete(' + data
                     .ajaxSearch[i].boardId +
                     ')"><i class="bx bx-trash me-1"></i> 삭제</a></div></div></td>';
                  str += '</tr>'
               }
               // console.log("str = " + str)
               // $("#tbody2").append(str);
               $('#boardTable > tbody:last').append(str)
            } else {
               var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
               $("#tbody2").empty();
               $("#tbody2").append(none);
            }
         },
         error: function (e) {
            console.log('error:' + e.status);
         }
      });
   }
</script>