<style>
  .plus {
    display: flex;
    align-items: center;
  }
</style>
<!-- Horizontal -->
<div class="plus">
  <h5 class="card-header">Project</h5>
  <a href="javascript:void(0);"
    onclick="prjInsert('/admin/projectInsert', '', 'resizable=no,width=780, height=800, scrollbars=1')">
    <i class='bx bxs-plus-circle bx-rotate-180' style='color:#696cff; font-size: 30px;'></i></a>
</div>
<% if(results.length%2 == 0 ) { %>
<% for(i=0; i < results.length; i+=2) { %>
<div class="row mb-5">
  <div class="col-md">
    <div class="card mb-3">
      <div class="row g-0" onclick="location.href='/admin/projectOne?projectId=<%=results[i].projectId %>'"
        style="cursor:pointer">
        <div class="col-md-4">
          <img class="card-img card-img-left" src="../../../public/sneat/assets/img/elements/12.jpg" alt="Card image" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong><%=results[i].projectName %></strong></h5>
            <p class="card-text">
              발주처 : <%=results[i].projectClient %>
            </p>
            <p class="card-text">
              담당자 : <%=results[i].projectManager %>
            </p>
            <p class="card-text">
              도메인 : <%=results[i].projectDomain %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card mb-3">

      <div class="row g-0" onclick="location.href='/admin/projectOne?projectId=<%=results[i+1].projectId %>'"
        style="cursor:pointer">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><strong><%=results[i+1].projectName %></strong></h5>
            <p class="card-text">
              발주처 : <%=results[i+1].projectClient %>
            </p>
            <p class="card-text">
              담당자 : <%=results[i+1].projectManager %>
            </p>
            <p class="card-text">
              도메인 : <%=results[i+1].projectDomain %>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img card-img-right" src="../../../public/sneat/assets/img/elements/17.jpg"
            alt="Card image" />
        </div>
      </div>

    </div>
  </div>
</div>
<% } %>
<% } else { %>
  <% for(i=1; i < results.length; i+=2) { %>
    <div class="row mb-5">
      <div class="col-md">
        <div class="card mb-3">

          <div class="row g-0" onclick="location.href='/admin/projectOne?projectId=<%=results[i-1].projectId %>'"
            style="cursor:pointer">
            <div class="col-md-4">
              <img class="card-img card-img-left" src="../../../public/sneat/assets/img/elements/12.jpg" alt="Card image" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong><%=results[i-1].projectName %></strong></h5>
                <p class="card-text">
                  발주처 : <%=results[i-1].projectClient %>
                </p>
                <p class="card-text">
                  담당자 : <%=results[i-1].projectManager %>
                </p>
                <p class="card-text">
                  도메인 : <%=results[i-1].projectDomain %>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md">
        <div class="card mb-3">
    
          <div class="row g-0" onclick="location.href='/admin/projectOne?projectId=<%=results[i].projectId %>'"
            style="cursor:pointer">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong><%=results[i].projectName %></strong></h5>
                <p class="card-text">
                  발주처 : <%=results[i].projectClient %>
                </p>
                <p class="card-text">
                  담당자 : <%=results[i].projectManager %>
                </p>
                <p class="card-text">
                  도메인 : <%=results[i].projectDomain %>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <img class="card-img card-img-right" src="../../../public/sneat/assets/img/elements/17.jpg"
                alt="Card image" />
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <% } %>
    <div class="row mb-5">
      <div class="col-md">
        <div class="card mb-3">

          <div class="row g-0" onclick="location.href='/admin/projectOne?projectId=<%=results[results.length-1].projectId %>'"
            style="cursor:pointer">
            <div class="col-md-4">
              <img class="card-img card-img-left" src="../../../public/sneat/assets/img/elements/12.jpg" alt="Card image" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong><%=results[results.length-1].projectName %></strong></h5>
                <p class="card-text">
                  발주처 : <%=results[results.length-1].projectClient %>
                </p>
                <p class="card-text">
                  담당자 : <%=results[results.length-1].projectManager %>
                </p>
                <p class="card-text">
                  도메인 : <%=results[results.length-1].projectDomain %>
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md">
        <div class="card mb-3">
    
        </div>
      </div>
    </div>
<% } %>

<script>
  //프로젝트 등록 팝업
  function prjInsert(theURL, winName, features) {
    window.open(theURL, winName, features);
  }
</script>